<form #courseForm="ngForm">
  <div class="container">
    <h1>Course editor</h1>
    <hr/>

    <div class="form-group row">

      <label class="col-sm-2 col-from-label">Name: </label>
      <div class="col-sm-10">
        <input [(ngModel)]="course.name" required name="name" #courseName="ngModel"[ngClass]="{'is-invalid': courseName.invalid}" class="form-control">
        <div class="invalid-feedback">
         <span>Course name is required. </span>
        </div>
      </div>
      <br>
      <br>
      <label class="col-sm-2 col-from-label">Price: U$ </label>
      <div class="col-sm-10">
        <input [(ngModel)]="course.price" type="number" required name="price"  #coursePrice="ngModel"  [ngClass]="{'is-invalid': coursePrice.invalid}"class="form-control">
        <div class="invalid-feedback">
          <span>Course price is required. </span>
        </div>
      </div>
      <br>
      <br>
      <label class="col-sm-2 col-from-label">Duration: </label>
      <div class="col-sm-10">
        <input [(ngModel)]="course.duration"  type="number" required  name="duration" #courseDuration="ngModel" [ngClass]="{'is-invalid': courseDuration.invalid}" class="form-control">
        <div class="invalid-feedback">
          <span>Course duration is required. </span>
        </div>
      </div>
      <br>
      <br>
      <label class="col-sm-2 col-from-label">Rating: </label>
      <div class="col-sm-10">
        <input [(ngModel)]="course.rating" required type="number" name="rating" #courseRating="ngModel" [ngClass]="{'is-invalid': courseRating.invalid}" class="form-control">
        <div class="invalid-feedback">
          <span>Course rating is required. </span>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <span><button [disabled]="courseForm.invalid" (click)="save()" class="btn btn-primary" >Save</button></span><span> </span>
  <span><button  [routerLink] = "['/courses']" class="btn btn-secondary" >Back</button></span>
</form>
